/* =================================================================== 
 *
 *  ITBMUN 2020 Base Stylesheet
 *  29-07-2019
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *      # A. Import Modules
 *      # B. Custom Normalize
 *
 * =================================================================== */

/* ===================================================================
 * # A. Import Module
 * ------------------------------------------------------------------- */
 @import 'module/math';
 @import 'module/mixin-fluid';

/* # End of Import Module
 * ----------------------- */

/* ===================================================================
 * # B. Custom Normalize
 * ------------------------------------------------------------------- */

 html, body {
    margin:0;
    padding:0;
    height:100%;
    max-width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

main {
    display: block;
    height: 100%;
}

article, aside, footer, header, nav, section {
    display: block;
}

/* # End of Normalize
 * ----------------------- */