/* =================================================================== 
 *
 *  ITBMUN 2020 Base Stylesheet
 *  29-07-2019
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *      # A. Import Modules
 *      # B. Custom Normalize
 *
 * =================================================================== */
/* ===================================================================
 * # A. Import Module
 * ------------------------------------------------------------------- */
/* Font - Playfair Display */
/* ======================= */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
/* font-family: 'Playfair Display', serif; */
/* Font - Adobe Caslon Pro             */
/* =================================== */
@font-face {
  font-family: "Adobe Caslon Pro Regular", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro Bold", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro Bold Italic", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-BoldItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro Italic", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro Semibold", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-Semibold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro Semibold Italic", sans-serif;
  src: url("../font/ACaslonPro/ACaslonPro-SemiboldItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Font - Calibri                      */
/* =================================== */
@font-face {
  font-family: "Calibri", sans-serif;
  src: url("../font/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Light", sans-serif;
  src: url("../font/calibril.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Bold", sans-serif;
  src: url("../font/CALIBRIB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Italic", sans-serif;
  src: url("../font/CALIBRII.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Italic Bold", sans-serif;
  src: url("../font/CALIBRIZ.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Font - Formata                      */
/* =================================== */
@font-face {
  font-family: "Formata Bold", sans-serif;
  src: url("../font/Formata/Formata-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Bold Condensed Italic", sans-serif;
  src: url("../font/Formata/Formata-BoldCondensedItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Bold Italic", sans-serif;
  src: url("../font/Formata/Formata-BoldItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Condensed Italic SC", sans-serif;
  src: url("../font/Formata/Formata-CnItalicSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Condensed", sans-serif;
  src: url("../font/Formata/Formata-Condensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Condensed Expert", sans-serif;
  src: url("../font/Formata/Formata-CondensedExpert.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Condensed Italic", sans-serif;
  src: url("../font/Formata/Formata-CondensedItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Condensed Italic SC", sans-serif;
  src: url("../font/Formata/Formata-CondensedSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Italic", sans-serif;
  src: url("../font/Formata/Formata-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Italic Expert", sans-serif;
  src: url("../font/Formata/Formata-ItalicExpert.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Italic SC", sans-serif;
  src: url("../font/Formata/Formata-ItalicSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light", sans-serif;
  src: url("../font/Formata/Formata-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Condensed Italic SC", sans-serif;
  src: url("../font/Formata/Formata-LightCnItalicSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Condensed SC", sans-serif;
  src: url("../font/Formata/Formata-LightCnSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Condensed", sans-serif;
  src: url("../font/Formata/Formata-LightCondensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Condensed Italic", sans-serif;
  src: url("../font/Formata/Formata-LightCondensedItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Italic", sans-serif;
  src: url("../font/Formata/Formata-LightItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light Italic SC", sans-serif;
  src: url("../font/Formata/Formata-LightItalicSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Light SC", sans-serif;
  src: url("../font/Formata/Formata-LightSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Medium", sans-serif;
  src: url("../font/Formata/Formata-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Medium Condensed", sans-serif;
  src: url("../font/Formata/Formata-MediumCondensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Medium Condensed Italic", sans-serif;
  src: url("../font/Formata/Formata-MediumCondensedItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Medium Italic", sans-serif;
  src: url("../font/Formata/Formata-MediumItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Regular", sans-serif;
  src: url("../font/Formata/Formata-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formata Regular SC", sans-serif;
  src: url("../font/Formata/Formata-RegularSC.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Calling Font Classes */
.formata-bold {
  font-family: 'Formata Bold', sans-serif !important;
}

.formata-bold-condensed-italic {
  font-family: 'Formata Bold Condensed Italic', sans-serif !important;
}

.formata-bold-italic {
  font-family: 'Formata Bold Italic', sans-serif !important;
}

.formata-condensed-italic-sc {
  font-family: 'Formata Condensed Italic SC', sans-serif !important;
}

.formata-condensed {
  font-family: 'Formata Condensed', sans-serif !important;
}

.formata-condensed-expert {
  font-family: 'Formata Condensed Expert', sans-serif !important;
}

.formata-condensed-italic {
  font-family: 'Formata Condensed Italic', sans-serif !important;
}

.formata-condensed-sc {
  font-family: 'Formata Condensed SC', sans-serif !important;
}

.formata-italic {
  font-family: 'Formata Italic', sans-serif !important;
}

.formata-italic-expert {
  font-family: 'Formata Italic Expert', sans-serif !important;
}

.formata-italic-sc {
  font-family: 'Formata Italic SC', sans-serif !important;
}

.formata-light {
  font-family: 'Formata Light', sans-serif !important;
}

.formata-light-condensed-italic-sc {
  font-family: 'Formata Light Condensed Italic SC', sans-serif !important;
}

.formata-light-condensed-sc {
  font-family: 'Formata Light Condensed SC', sans-serif !important;
}

.formata-light-condensed {
  font-family: 'Formata Light Condensed', sans-serif !important;
}

.formata-light-condensed-italic {
  font-family: 'Formata Light Condensed Italic', sans-serif !important;
}

.formata-light-italic {
  font-family: 'Formata Light Italic', sans-serif !important;
}

.formata-light-italic-sc {
  font-family: 'Formata Light Italic SC', sans-serif !important;
}

.formata-light-sc {
  font-family: 'Formata Light SC', sans-serif !important;
}

.formata-medium {
  font-family: 'Formata Medium', sans-serif !important;
}

.formata-medium-condensed {
  font-family: 'Formata Medium Condensed', sans-serif !important;
}

.formata-medium-condensed-italic {
  font-family: 'Formata Medium Condensed Italic', sans-serif !important;
}

.formata-medium-italic {
  font-family: 'Formata Medium Italic', sans-serif !important;
}

.formata-regular {
  font-family: 'Formata Regular', sans-serif !important;
}

.formata-regular-SC {
  font-family: 'Formata Regular SC', sans-serif !important;
}

.calibri {
  font-family: 'Calibri', sans-serif !important;
}

.calibri-light {
  font-family: 'Calibri Light', sans-serif !important;
}

.calibri-bold {
  font-family: 'Calibri Bold', sans-serif !important;
}

.calibri-italic {
  font-family: 'Calibri Italic', sans-serif !important;
}

.calibri-bold-italic {
  font-family: 'Calibri Italic Bold', sans-serif !important;
}

.acaslonpro {
  font-family: 'Adobe Caslon Pro Regular', serif !important;
}

.acaslonpro-bold {
  font-family: 'Adobe Caslon Pro Bold', serif !important;
}

.acaslonpro-italic {
  font-family: 'Adobe Caslon Pro Italic', serif !important;
}

.acaslonpro-bolditalic {
  font-family: 'Adobe Caslon Pro Bold Italic', serif !important;
}

.acaslonpro-semibold {
  font-family: 'Adobe Caslon Pro Semibold', serif !important;
}

.acaslonpro-semibolditalic {
  font-family: 'Adobe Caslon Pro Semibold Italic', serif !important;
}

/* MIXIN FOR CUSTOM RANGE OF FLUID SIZES
 *  -- Menerima masukan batas bawah font size 'floor' dan batas atas font size 'ceiling', satuan rem!
 *  -- Mengeluarkan kode css yang membuat transisi antara floor dan ceiling 'fluid'     
 *
 *  -- TABLE OF CONTENT
 *  -- 1. Width
 *  -- 2. Padding
 *  -- 3. Margin
 *  -- 4. Font-Size
 *  -- 5. Letter-Spacing  
 *  -- 6. Responsive Border
 *  -- 7. Responsive Padding Inline Start
 */
/* -- 01. Mixin untuk fluid width -- */
/* -- 02. Mixin untuk fluid padding -- */
/* -- 03. Mixin untuk fluid margin -- */
/* -- 05. Mixin untuk fluid font size -- */
/* -- 06. Mixin untuk fluid letter spacing -- */
/* -- 07. Mixin untuk Responsive Border (Satu Sisi) -- */
/* -- 08. Mixin untuk Padding-Inline-Start -- */
/* # End of Import Module
 * ----------------------- */
/* ===================================================================
 * # B. Custom Normalize
 * ------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

main {
  display: block;
  height: 100%;
}

article, aside, footer, header, nav, section {
  display: block;
}

/* # End of Normalize
 * ----------------------- */
/*# sourceMappingURL=base.css.map */