/* =================================================================== 
 *
 *  ITBMUN 2020 Main Stylesheet
 *  29-07-2019
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *      # A. Import Modules
 *      # B. Default Colors
 *      # C. Navigation Bar
 *          -- 1. Navbar
 *          -- 2. Sidebar
 *      # D. Sections
 *          -- 1. Hero
 *
 * =================================================================== */
/* ===================================================================
 * # A. Import Module
 * ------------------------------------------------------------------- */
/* MIXIN FOR CUSTOM RANGE OF FLUID SIZES
 *  -- Menerima masukan batas bawah font size 'floor' dan batas atas font size 'ceiling', satuan rem!
 *  -- Mengeluarkan kode css yang membuat transisi antara floor dan ceiling 'fluid'     
 *
 *  -- TABLE OF CONTENT
 *  -- 1. Width
 *  -- 2. Padding
 *  -- 3. Margin
 *  -- 4. Font-Size
 *  -- 5. Letter-Spacing  
 *  -- 6. Responsive Border
 *  -- 7. Responsive Padding Inline Start
 */
/* -- 01. Mixin untuk fluid width -- */
/* -- 02. Mixin untuk fluid padding -- */
/* -- 03. Mixin untuk fluid margin -- */
/* -- 05. Mixin untuk fluid font size -- */
/* -- 06. Mixin untuk fluid letter spacing -- */
/* -- 07. Mixin untuk Responsive Border (Satu Sisi) -- */
/* -- 08. Mixin untuk Padding-Inline-Start -- */
/* Lemon Milk ======================= */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i|Titillium+Web:300,300i,400,400i,600,600i,700,700i&display=swap");
@font-face {
  font-family: 'Lemon/Milk Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Regular"), url("../font/lemonmilk/LemonMilk.woff") format("woff");
}

@font-face {
  font-family: 'Lemon/Milk Regular italic';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Regular italic"), url("../font/lemonmilk/LemonMilkitalic.woff") format("woff");
}

@font-face {
  font-family: 'Lemon/Milk light italic';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light italic"), url("../font/lemonmilk/LemonMilklightitalic.woff") format("woff");
}

@font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Bold"), url("../font/lemonmilk/LemonMilkbold.woff") format("woff");
}

@font-face {
  font-family: 'Lemon/Milk Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Bold"), url("../font/lemonmilk/LemonMilkbolditalic.woff") format("woff");
}

@font-face {
  font-family: 'Lemon/Milk light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"), url("../font/lemonmilk/LemonMilklight.woff") format("woff");
}

/* HelveticaNeue ======================= */
@font-face {
  font-family: 'Helvetica Neue LT Pro 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 55 Roman"), url("../font/HelveticaNeue/HelveticaNeueLTPro-Roman.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 56 Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 56 Italic"), url("../font/HelveticaNeue/HelveticaNeueLTPro-It.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 45 Light';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 45 Light"), url("../font/HelveticaNeue/HelveticaNeueLTPro-Lt.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 46 Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 46 Light Italic"), url("../font/HelveticaNeue/HelveticaNeueLTPro-LtIt.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 65 Medium"), url("../font/HelveticaNeue/HelveticaNeueLTPro-Md.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 66 Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 66 Medium Italic"), url("../font/HelveticaNeue/HelveticaNeueLTPro-MdIt.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 75 Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 75 Bold"), url("../font/HelveticaNeue/HelveticaNeueLTPro-Bd.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 76 Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 76 Bold Italic"), url("../font/HelveticaNeue/HelveticaNeueLTPro-BdIt.woff") format("woff");
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #e9e9e9;
}

.hamburger-box {
  width: 4.0rem;
  height: 3.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-inner {
  display: block;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 4.0rem;
  height: 0.2rem;
  background-color: #e9e9e9;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.button-white-transparent {
  border: 2px solid white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-white-transparent {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    padding-left: calc(1rem + 2 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(1rem + 2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.button-white-transparent {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    padding-bottom: calc(0.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.button-white-transparent {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .button-white-transparent {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .button-white-transparent {
    font-size: 1.6rem;
  }
}

.button-white-transparent:hover {
  background-color: #EA5A5A;
  color: white;
  border-color: #EA5A5A;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button-white-transparent:active {
  background-color: #D02B2F;
  color: white;
  border-color: #D02B2F;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

/* # End of Import Module
 * ----------------------- */
/* ===================================================================
 * # B. Default Colors etc
 * ------------------------------------------------------------------- */
body {
  background-color: #000000;
  color: #E5E5E5;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  color: #F6F6F6;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: #FFFFFF;
  font-family: 'Lemon/Milk Regular';
}

/* # End of Default Colors
 * ----------------------- */
/* ===================================================================
 * # C. Navigation for Main
 * ------------------------------------------------------------------- */
#navbar {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  /* Transition effect when sliding down (and up) */
}

.navigation {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation a {
  color: #ffffff;
}

.navigation a#active {
  color: #EA5A5A;
}

.navigation a:hover {
  text-decoration: none;
  color: #EA5A5A;
}

.navigation a:active {
  text-decoration: none;
  color: #D02B2F;
}

.navigation ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation ul {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation ul {
    margin-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    margin-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation ul {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.navigation ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation ul {
    margin-bottom: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.navigation ul {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .navigation ul {
    font-size: calc(1.2rem + 0.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation ul {
    font-size: 1.4rem;
  }
}

.navigation ul ul.navigation-items {
  margin: 0;
}

.navigation ul ul.navigation-items li:not(:first-child)::before {
  content: "\2003\2003|\2003\2003";
}

@media screen and (max-width: 960px) {
  .navigation ul ul.navigation-items {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .navigation ul .navigation-burger {
    display: none;
  }
}

.navigation ul li a {
  letter-spacing: 1px;
}

.navigation ul li .navigation-logo {
  width: 8rem;
}

@media screen and (min-width: 320px) {
  .navigation ul li .navigation-logo {
    width: calc(8rem + 2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation ul li .navigation-logo {
    width: 10rem;
  }
}

.navigation ul li h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.navigation ul li h1 {
  font-size: 2.4rem;
}

@media screen and (min-width: 320px) {
  .navigation ul li h1 {
    font-size: calc(2.4rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation ul li h1 {
    font-size: 3.6rem;
  }
}

.navigation-sidebar {
  width: 100%;
  min-height: 100%;
  background-color: #23102D;
  width: 100%;
}

.navigation-sidebar .navigation-sidebar-top {
  background-color: #120817;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation-sidebar .navigation-sidebar-top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top {
    padding-bottom: calc(0.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(0.5rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.navigation-sidebar .navigation-sidebar-top a {
  color: #ffffff;
}

.navigation-sidebar .navigation-sidebar-top a#active {
  color: #EA5A5A;
}

.navigation-sidebar .navigation-sidebar-top a:hover {
  text-decoration: none;
  color: #EA5A5A;
}

.navigation-sidebar .navigation-sidebar-top a:active {
  text-decoration: none;
  color: #D02B2F;
}

.navigation-sidebar .navigation-sidebar-top {
  height: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top {
    height: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top {
    height: 5rem;
  }
}

.navigation-sidebar .navigation-sidebar-top ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-transform: uppercase;
}

.navigation-sidebar .navigation-sidebar-top ul {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top ul {
    margin-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    margin-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top ul {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.navigation-sidebar .navigation-sidebar-top ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top ul {
    margin-bottom: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top ul .navigation-burger {
    display: none;
  }
}

.navigation-sidebar .navigation-sidebar-top ul li h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.navigation-sidebar .navigation-sidebar-top ul li h1 {
  font-size: 2.4rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top ul li h1 {
    font-size: calc(2.4rem + 1.2 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top ul li h1 {
    font-size: 3.6rem;
  }
}

.navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
  width: 100%;
  min-height: 90%;
}

.navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
    padding-left: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

@media screen and (min-width: 320px) {
  .navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
    padding-bottom: calc(4.5rem + 4.5 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(4.5rem + 4.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .navigation-sidebar .navigation-sidebar-top .navigation-sidebar-body {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

/* # End of Navigation for Main
 * ----------------------- */
/* ===================================================================
 * # D. Sections
 * ------------------------------------------------------------------- */
body {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-hero {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(359.87deg, #000000 4.51%, rgba(35, 16, 45, 0.4) 85.49%), url(../assets/stock/Edited/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-hero a {
  color: #ffffff;
}

.main-hero a#active {
  color: #EA5A5A;
}

.main-hero a:hover {
  text-decoration: none;
  color: #EA5A5A;
}

.main-hero a:active {
  text-decoration: none;
  color: #D02B2F;
}

@media screen and (max-width: 960px) {
  .main-hero {
    background-position-x: 60%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main-hero .main-hero-container {
  width: 100%;
}

.main-hero .main-hero-container {
  margin: 2rem;
}

@media screen and (min-width: 320px) {
  .main-hero .main-hero-container {
    margin: calc(2rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-hero .main-hero-container {
    margin: 5rem;
  }
}

.main-hero .main-hero-container .main-hero-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-hero .main-hero-container .scroll-down {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-hero .main-hero-container .scroll-down {
  font-size: 1.4rem;
}

@media screen and (min-width: 320px) {
  .main-hero .main-hero-container .scroll-down {
    font-size: calc(1.4rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-hero .main-hero-container .scroll-down {
    font-size: 1.8rem;
  }
}

.main-hero .main-hero-container .interlude {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #BF8CD9;
}

.main-hero .main-hero-container .interlude {
  font-size: 1.4rem;
}

@media screen and (min-width: 320px) {
  .main-hero .main-hero-container .interlude {
    font-size: calc(1.4rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-hero .main-hero-container .interlude {
    font-size: 2.8rem;
  }
}

.main-hero .main-hero-container .grand-theme {
  font-family: 'Lemon/Milk Regular';
  line-height: 1.4;
}

.main-hero .main-hero-container .grand-theme {
  font-size: 1.8rem;
}

@media screen and (min-width: 320px) {
  .main-hero .main-hero-container .grand-theme {
    font-size: calc(1.8rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-hero .main-hero-container .grand-theme {
    font-size: 4.8rem;
  }
}

.main-hero .main-hero-container .grand-theme {
  letter-spacing: 1.8px;
  padding-left: 1.8px;
}

@media screen and (min-width: 320px) {
  .main-hero .main-hero-container .grand-theme {
    letter-spacing: calc(1.8px + 3 * ((100vw - 320px) / (960 - 320)));
    padding-left: calc(1.8px + 3 * ((100vw - 320px) / (960 - 320)));
  }
}

@media screen and (min-width: 960px) {
  .main-hero .main-hero-container .grand-theme {
    letter-spacing: 4.8px;
    padding-left: 4.8px;
  }
}

@media screen and (max-width: 960px) {
  .main-hero .main-hero-container .grand-theme {
    line-height: 1.5;
  }
}

.main-remark {
  width: 100%;
  min-height: 100%;
}

.main-remark {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .main-remark {
    margin-bottom: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-remark {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
}

.main-remark h1 {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

.main-remark h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .main-remark h1 {
    font-size: calc(2.8rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-remark h1 {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 960px) {
  .main-remark h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .main-remark h1 {
    padding-left: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .main-remark h1 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

.main-remark .remark-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #242424;
}

.main-remark .remark-card {
  height: 20rem;
}

@media screen and (min-width: 320px) {
  .main-remark .remark-card {
    height: calc(20rem + 20 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-remark .remark-card {
    height: 40rem;
  }
}

.main-remark .remark-card {
  padding: 1.5rem;
}

@media screen and (min-width: 320px) {
  .main-remark .remark-card {
    padding: calc(1.5rem + 2.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-remark .remark-card {
    padding: 4rem;
  }
}

.main-remark .remark-card p {
  margin-bottom: 0px;
}

.main-remark .remark-card p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .main-remark .remark-card p {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-remark .remark-card p {
    font-size: 1.6rem;
  }
}

.main-remark .remark-card .remark-card-summary {
  width: 50%;
}

@media screen and (max-width: 960px) {
  .main-remark .remark-card .remark-card-summary {
    width: 75%;
  }
}

.main-remark .remark-card .remark-card-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-remark .remark-bg-itbmun2020 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url(../assets/placeholders/MarieCurie.jpeg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url(../assets/placeholders/MarieCurie.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-remark .remark-bg-itbmun2019 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url(../assets/placeholders/Bjarne.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url(../assets/placeholders/Bjarne.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-remark .remark-bg-gmunc {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url(../assets/placeholders/NelsonMandela.jpeg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url(../assets/placeholders/NelsonMandela.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-venue {
  width: 100%;
  min-height: 50%;
}

.main-venue {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .main-venue {
    margin-bottom: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
}

.main-venue h1 {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

.main-venue h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .main-venue h1 {
    font-size: calc(2.8rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue h1 {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 960px) {
  .main-venue h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .main-venue h1 {
    padding-left: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .main-venue h1 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

.main-venue .main-venue-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 25rem;
}

@media screen and (max-width: 960px) {
  .main-venue .main-venue-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    flex-direction: column;
  }
}

.main-venue .main-venue-wrapper .main-venue-image {
  width: 50%;
  background: url(../assets/stock/Source/venue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-venue .main-venue-wrapper .main-venue-image {
  height: 15rem;
}

@media screen and (min-width: 320px) {
  .main-venue .main-venue-wrapper .main-venue-image {
    height: calc(15rem + 10 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-image {
    height: 25rem;
  }
}

@media screen and (max-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-image {
    width: 100%;
  }
}

.main-venue .main-venue-wrapper .main-venue-content {
  width: 50%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding-left: 5rem;
}

.main-venue .main-venue-wrapper .main-venue-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .main-venue .main-venue-wrapper .main-venue-content {
    padding-bottom: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content {
    width: 100%;
    padding-left: 0px;
    height: 15rem;
  }
}

.main-venue .main-venue-wrapper .main-venue-content h2 {
  font-weight: 400;
}

.main-venue .main-venue-wrapper .main-venue-content h2 {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .main-venue .main-venue-wrapper .main-venue-content h2 {
    font-size: calc(2rem + 0.8 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content h2 {
    font-size: 2.8rem;
  }
}

.main-venue .main-venue-wrapper .main-venue-content h2 {
  letter-spacing: 1.4px;
  padding-left: 1.4px;
}

@media screen and (min-width: 320px) {
  .main-venue .main-venue-wrapper .main-venue-content h2 {
    letter-spacing: calc(1.4px + 0.6 * ((100vw - 320px) / (960 - 320)));
    padding-left: calc(1.4px + 0.6 * ((100vw - 320px) / (960 - 320)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content h2 {
    letter-spacing: 2px;
    padding-left: 2px;
  }
}

.main-venue .main-venue-wrapper .main-venue-content h2 b {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content h2 {
    text-align: center;
  }
}

.main-venue .main-venue-wrapper .main-venue-content p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .main-venue .main-venue-wrapper .main-venue-content p {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 960px) {
  .main-venue .main-venue-wrapper .main-venue-content p {
    display: none;
  }
}

.main-councils {
  width: 100%;
  min-height: 50%;
}

.main-councils {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .main-councils {
    margin-bottom: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
}

.main-councils h1 {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

.main-councils h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .main-councils h1 {
    font-size: calc(2.8rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils h1 {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 960px) {
  .main-councils h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .main-councils h1 {
    padding-left: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .main-councils h1 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

.main-councils .main-councils-wrapper {
  width: 100%;
  min-height: 40rem;
}

.main-councils .main-councils-wrapper .council {
  width: 33.33%;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-councils .main-councils-wrapper .council {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .main-councils .main-councils-wrapper .council {
    padding-bottom: calc(1rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(1rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils .main-councils-wrapper .council {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.main-councils .main-councils-wrapper .council img {
  width: 7rem;
}

@media screen and (min-width: 320px) {
  .main-councils .main-councils-wrapper .council img {
    width: calc(7rem + 11 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils .main-councils-wrapper .council img {
    width: 18rem;
  }
}

.main-councils .main-councils-wrapper .council p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.main-councils .main-councils-wrapper .council p {
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  .main-councils .main-councils-wrapper .council p {
    font-size: calc(1.2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils .main-councils-wrapper .council p {
    font-size: 1.6rem;
  }
}

.main-councils .main-councils-wrapper .council p {
  letter-spacing: 1.2px;
  padding-left: 1.2px;
}

@media screen and (min-width: 320px) {
  .main-councils .main-councils-wrapper .council p {
    letter-spacing: calc(1.2px + 0.4 * ((100vw - 320px) / (960 - 320)));
    padding-left: calc(1.2px + 0.4 * ((100vw - 320px) / (960 - 320)));
  }
}

@media screen and (min-width: 960px) {
  .main-councils .main-councils-wrapper .council p {
    letter-spacing: 1.6px;
    padding-left: 1.6px;
  }
}

.main-councils .main-councils-wrapper .council:hover {
  background-color: #EA5A5A;
  text-decoration: none;
}

.main-councils .main-councils-wrapper .council:active {
  background-color: #D02B2F;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .main-councils .main-councils-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.main-supports {
  width: 100%;
  min-height: 50%;
}

.main-supports {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 320px) {
  .main-supports {
    margin-bottom: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
    margin-top: calc(3rem + 5.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-supports {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
  }
}

.main-supports h1 {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

.main-supports h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 320px) {
  .main-supports h1 {
    font-size: calc(2.8rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-supports h1 {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 960px) {
  .main-supports h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .main-supports h1 {
    padding-left: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1.6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .main-supports h1 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}

.main-supports .main-supports-wrapper {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .main-supports .main-supports-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-supports .main-supports-wrapper .main-support-card {
  width: 100%;
  height: 30rem;
  text-decoration: none;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .main-supports .main-supports-wrapper .main-support-card {
    height: 10rem;
  }
  .main-supports .main-supports-wrapper .main-support-card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .main-supports .main-supports-wrapper .main-support-card {
    padding-left: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .main-supports .main-supports-wrapper .main-support-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
    padding-bottom: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(2rem + 0 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 320px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
    padding-left: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors, .main-supports .main-supports-wrapper .main-support-card .bg-medpar, .main-supports .main-supports-wrapper .main-support-card .bg-others {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors h2, .main-supports .main-supports-wrapper .main-support-card .bg-medpar h2, .main-supports .main-supports-wrapper .main-support-card .bg-others h2 {
  font-weight: 700;
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors h2, .main-supports .main-supports-wrapper .main-support-card .bg-medpar h2, .main-supports .main-supports-wrapper .main-support-card .bg-others h2 {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors h2, .main-supports .main-supports-wrapper .main-support-card .bg-medpar h2, .main-supports .main-supports-wrapper .main-support-card .bg-others h2 {
    font-size: calc(2rem + 0.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .main-supports .main-supports-wrapper .main-support-card .bg-sponsors h2, .main-supports .main-supports-wrapper .main-support-card .bg-medpar h2, .main-supports .main-supports-wrapper .main-support-card .bg-others h2 {
    font-size: 2.4rem;
  }
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors:hover, .main-supports .main-supports-wrapper .main-support-card .bg-medpar:hover, .main-supports .main-supports-wrapper .main-support-card .bg-others:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #EA5A5A;
}

.main-supports .main-supports-wrapper .main-support-card .bg-sponsors {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url("../assets/stock/Source/Sponsors.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url("../assets/stock/Source/Sponsors.jpg");
}

.main-supports .main-supports-wrapper .main-support-card .bg-medpar {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url("../assets/stock/Source/Medpar.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url("../assets/stock/Source/Medpar.jpg");
}

.main-supports .main-supports-wrapper .main-support-card .bg-others {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(25.19%, #000000), color-stop(63.39%, rgba(20, 9, 25, 0.75)), color-stop(80.76%, rgba(50, 23, 64, 0.3))), url("../assets/stock/Source/Support.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(90deg, #000000 25.19%, rgba(20, 9, 25, 0.75) 63.39%, rgba(50, 23, 64, 0.3) 80.76%), url("../assets/stock/Source/Support.jpg");
}

/* # End of Sections
 * ----------------------- */
/*# sourceMappingURL=main.css.map */