
    .main-councils{
        @include fluidmarginy(3.0rem, 8.5rem);
        @include sectionProperties(50%);

        h1{
            @include h1main();
        }

        .main-councils-wrapper{
            width:100%;
            min-height:40rem;

            .council{
                @include fluidpaddingy(1rem, 4rem);
                width:33.33%;
                min-height:10rem;

                display: flex;
                flex-wrap:nowrap;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: 0.3s;

                img{
                    @include fluidwidth(7rem, 18rem);
                }

                p{
                    @include fluidfontsize(1.2rem, 1.6rem);
                    @include montserrat();
                    @include fluidletterspacing(1.2px, 1.6px);
                    font-weight:700;
                }
            }

            .council:hover{
                background-color:map-get($theme-colors, "secondary-light");
                
            }

            .council:active{
                background-color:map-get($theme-colors, "secondary");
            }

            @media screen and (max-width:960px) {
                padding-left:2rem;
                padding-right:2rem;
            }
        }
    }
