.primary-button, .optional-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    @include fluidpaddingx(1.5rem, 3rem);
    @include fluidpaddingy(1.25rem, 2rem);
    
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: 700;
    @include fluidfontsize(1.2rem, 1.4rem);
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;

    border: none;
}

.primary-button{
    background-color: #00629B;
    color: #fff;
}

.optional-button{
    background-color: #fff;
    color: lighten(#00629B,15%);
}

.primary-button:hover{
    background-color: lighten(#00629B,10%);
}

.optional-button:hover{
    background-color: darken(#f9f9ff,1%);
}