@mixin fontface($name, $url) {
  font-family: $name, sans-serif;
  src: url($url) format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Font - Playfair Display */
/* ======================= */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
/* font-family: 'Playfair Display', serif; */

/* Font - Adobe Caslon Pro             */
/* =================================== */

@font-face {
  @include fontface("Adobe Caslon Pro Regular", "../font/ACaslonPro/ACaslonPro-Regular.otf");
}

@font-face {
  @include fontface("Adobe Caslon Pro Bold", "../font/ACaslonPro/ACaslonPro-Bold.otf");
}

@font-face {
  @include fontface("Adobe Caslon Pro Bold Italic", "../font/ACaslonPro/ACaslonPro-BoldItalic.otf");
}

@font-face {
  @include fontface("Adobe Caslon Pro Italic", "../font/ACaslonPro/ACaslonPro-Italic.otf");
}

@font-face {
  @include fontface("Adobe Caslon Pro Semibold", "../font/ACaslonPro/ACaslonPro-Semibold.otf");
}

@font-face {
  @include fontface("Adobe Caslon Pro Semibold Italic", "../font/ACaslonPro/ACaslonPro-SemiboldItalic.otf");
}

/* Font - Calibri                      */
/* =================================== */

@font-face {
  @include fontface("Calibri", "../font/Calibri.ttf");
}

@font-face {
  @include fontface('Calibri Light', "../font/calibril.ttf");
}

@font-face {
  @include fontface('Calibri Bold', "../font/CALIBRIB.TTF");
}

@font-face {
  @include fontface('Calibri Italic', "../font/CALIBRII.TTF");
}

@font-face {
  @include fontface('Calibri Italic Bold', "../font/CALIBRIZ.TTF");
}

/* Font - Formata                      */
/* =================================== */
@font-face {
  @include fontface('Formata Bold', "../font/Formata/Formata-Bold.otf");
}

@font-face {
  @include fontface('Formata Bold Condensed Italic', "../font/Formata/Formata-BoldCondensedItalic.otf");
}

@font-face {
  @include fontface('Formata Bold Italic', "../font/Formata/Formata-BoldItalic.otf");
}

@font-face {
  @include fontface('Formata Condensed Italic SC', "../font/Formata/Formata-CnItalicSC.otf");
}

@font-face {
  @include fontface('Formata Condensed', "../font/Formata/Formata-Condensed.otf");
}

@font-face {
  @include fontface('Formata Condensed Expert', "../font/Formata/Formata-CondensedExpert.otf");
}

@font-face {
  @include fontface('Formata Condensed Italic', "../font/Formata/Formata-CondensedItalic.otf");
}

@font-face {
  @include fontface('Formata Condensed Italic SC', "../font/Formata/Formata-CondensedSC.otf");
}

@font-face {
  @include fontface('Formata Italic', "../font/Formata/Formata-Italic.otf");
}

@font-face {
  @include fontface('Formata Italic Expert', "../font/Formata/Formata-ItalicExpert.otf");
}

@font-face {
  @include fontface('Formata Italic SC', "../font/Formata/Formata-ItalicSC.otf");
}

@font-face {
  @include fontface('Formata Light', "../font/Formata/Formata-Light.otf");
}

@font-face {
  @include fontface('Formata Light Condensed Italic SC', "../font/Formata/Formata-LightCnItalicSC.otf");
}

@font-face {
  @include fontface('Formata Light Condensed SC', "../font/Formata/Formata-LightCnSC.otf");
}

@font-face {
  @include fontface('Formata Light Condensed', "../font/Formata/Formata-LightCondensed.otf");
}

@font-face {
  @include fontface('Formata Light Condensed Italic', "../font/Formata/Formata-LightCondensedItalic.otf");
}

@font-face {
  @include fontface('Formata Light Italic', "../font/Formata/Formata-LightItalic.otf");
}

@font-face {
  @include fontface('Formata Light Italic SC', "../font/Formata/Formata-LightItalicSC.otf");
}

@font-face {
  @include fontface('Formata Light SC', "../font/Formata/Formata-LightSC.otf");
}

@font-face {
  @include fontface('Formata Medium', "../font/Formata/Formata-Medium.otf");
}

@font-face {
  @include fontface('Formata Medium Condensed', "../font/Formata/Formata-MediumCondensed.otf");
}

@font-face {
  @include fontface('Formata Medium Condensed Italic', "../font/Formata/Formata-MediumCondensedItalic.otf");
}

@font-face {
  @include fontface('Formata Medium Italic', "../font/Formata/Formata-MediumItalic.otf");
}

@font-face {
  @include fontface('Formata Regular', "../font/Formata/Formata-Regular.otf");
}

@font-face {
  @include fontface('Formata Regular SC', "../font/Formata/Formata-RegularSC.otf");
}


/* Calling Font Classes */

.formata-bold {
  font-family: 'Formata Bold', sans-serif !important; 
}

.formata-bold-condensed-italic {
  font-family: 'Formata Bold Condensed Italic', sans-serif !important; 
}

.formata-bold-italic {
  font-family: 'Formata Bold Italic', sans-serif !important; 
}

.formata-condensed-italic-sc {
  font-family: 'Formata Condensed Italic SC', sans-serif !important; 
}

.formata-condensed {
  font-family: 'Formata Condensed', sans-serif !important; 
}

.formata-condensed-expert {
  font-family: 'Formata Condensed Expert', sans-serif !important; 
}

.formata-condensed-italic {
  font-family: 'Formata Condensed Italic', sans-serif !important; 
}

.formata-condensed-sc {
  font-family: 'Formata Condensed SC', sans-serif !important; 
}

.formata-italic {
  font-family: 'Formata Italic', sans-serif !important; 
}

.formata-italic-expert {
  font-family: 'Formata Italic Expert', sans-serif !important; 
}

.formata-italic-sc {
  font-family: 'Formata Italic SC', sans-serif !important; 
}

.formata-light {
  font-family: 'Formata Light', sans-serif !important; 
}

.formata-light-condensed-italic-sc {
  font-family: 'Formata Light Condensed Italic SC', sans-serif !important; 
}

.formata-light-condensed-sc {
  font-family: 'Formata Light Condensed SC', sans-serif !important; 
}

.formata-light-condensed {
  font-family: 'Formata Light Condensed', sans-serif !important; 
}

.formata-light-condensed-italic {
  font-family: 'Formata Light Condensed Italic', sans-serif !important; 
}

.formata-light-italic{
  font-family: 'Formata Light Italic', sans-serif !important; 
}

.formata-light-italic-sc {
  font-family: 'Formata Light Italic SC', sans-serif !important; 
}

.formata-light-sc {
  font-family: 'Formata Light SC', sans-serif !important; 
}

.formata-medium {
  font-family: 'Formata Medium', sans-serif !important; 
}

.formata-medium-condensed {
  font-family: 'Formata Medium Condensed', sans-serif !important; 
}

.formata-medium-condensed-italic {
  font-family: 'Formata Medium Condensed Italic', sans-serif !important; 
}

.formata-medium-italic {
  font-family: 'Formata Medium Italic', sans-serif !important; 
}

.formata-regular {
  font-family: 'Formata Regular', sans-serif !important; 
}

.formata-regular-SC {
  font-family: 'Formata Regular SC', sans-serif !important; 
}

.calibri {
  font-family: 'Calibri', sans-serif !important; 
}

.calibri-light {
  font-family: 'Calibri Light', sans-serif !important; 
}

.calibri-bold {
  font-family: 'Calibri Bold', sans-serif !important;
}

.calibri-italic {
  font-family: 'Calibri Italic', sans-serif !important;
}

.calibri-bold-italic {
  font-family: 'Calibri Italic Bold', sans-serif !important;
}

.acaslonpro {
  font-family: 'Adobe Caslon Pro Regular', serif !important; 
}

.acaslonpro-bold {
  font-family: 'Adobe Caslon Pro Bold', serif !important;
}

.acaslonpro-italic {
  font-family: 'Adobe Caslon Pro Italic', serif !important;
}

.acaslonpro-bolditalic {
  font-family: 'Adobe Caslon Pro Bold Italic', serif !important;
}

.acaslonpro-semibold {
  font-family: 'Adobe Caslon Pro Semibold', serif !important;
}

.acaslonpro-semibolditalic {
  font-family: 'Adobe Caslon Pro Semibold Italic', serif !important;
}